@media (min-width: 300px) and (max-width: 500px) {
	/* Estilizações CSS */

    main .listagem-pokemon{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    main{
        width: 100;
        padding-top: 9%;
    }

    li.cartao-pokemon{
        display: flex;
        box-sizing: content-box;
        width: 50vw;
        background-color: rgb(172, 171, 171);
        padding: 2%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        border-radius: 15px;
        border: 3px solid white;
    }




}



@media (max-width: 650px) and (min-width: 501px) {
	/* Estilizações CSS */

    main .listagem-pokemon{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    main{
        width: 100;
        padding-top: 9%;
    }

    li.cartao-pokemon{
        display: flex;
        box-sizing: content-box;
        width: 50vw;
        background-color: rgb(172, 171, 171);
        padding: 2%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        border-radius: 15px;
        border: 3px solid white;
    }




}



@media (min-width: 651px) and (max-width: 1100px) {

    li.cartao-pokemon{
        display: flex;
        box-sizing: content-box;
        width: 24vw;
        background-color: rgb(172, 171, 171);
        padding: 2%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        border-radius: 15px;
        border: 3px solid white;
    }
    



}
@media (min-width: 1101px) and (max-width: 1300px) {

    li.cartao-pokemon{
        display: flex;
        box-sizing: content-box;
        width: 15vw;
        background-color: rgb(172, 171, 171);
        padding: 2%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        border-radius: 15px;
        border: 3px solid white;
    }
    

}

